body{
    margin: 0;
    padding: 0; 
    overflow-x: auto !important;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}


html{
    font-size: 16px;
}




/* ===== scroll bar ===== */

/* Scrollbar Track */
::-webkit-scrollbar {
    width: 4px;  
    height: 4px; 
}

/* Track (Background) */
::-webkit-scrollbar-track {
    background: transparent;  /* No background */
}

/* Scrollbar Thumb (Draggable part) */
::-webkit-scrollbar-thumb {
    background: #dfcfb5; 
    border-radius: 10px; /* Rounded corners */
    transition: background 0.3s ease-in-out;
}

/* On Hover - More Visible */
::-webkit-scrollbar-thumb:hover {
    background: #DEC498;  /* Darker on hover */
}


.main_container{
    width: 90vw;
    background-color: inherit;
     /* border: 1px solid black;  */
    margin: 20px auto 0px;
    height: calc(100vh - 110px);
    overflow-x: auto;
    box-sizing: border-box;
    position: relative;
}

.main_container.bg-white{
    background-color: white;
    border-radius: 8px;
}


.main_container>h1{
    text-align: center;
}





/* ===== loader for btn ===== */


.loader {
    width: 25px;
    margin: auto;
    --b: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px;
    background: conic-gradient(#0000 10%, #ffffff) content-box;
    -webkit-mask:
    repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
    radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation: l4 1s infinite steps(10);
}

@keyframes l4 {
    to {
        transform: rotate(1turn)
    }
}




/* =====  loader for page  ===== */

.mainloaderContainer{
    height: 100%;
    display: flex;
    align-items: center;
}

.mainloader {
    width: 55px;
    margin: auto !important;
    --b: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px;
    background: conic-gradient(#0000 10%, #dec498) content-box;
    -webkit-mask:
        repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
        radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation: l4 1.2s infinite steps(10);
}

@keyframes l4 {
    to {
        transform: rotate(1turn)
    }
}



/* ===== msg on top-right on outlet ===== */

.errorMsg {
    position: fixed;
    top: 130px;
    right: 70px;
    margin-right: 20px;
    background-color: #ff4d4d;
    letter-spacing: 1;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-size: 14px;
    animation: messageSlideIn 0.4s ease-out;
}

.successMsg {
    position: fixed;
    top: 130px;
    right: 70px;
    margin-right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-size: 14px;
    animation: messageSlideIn 0.4s ease-out;
}

@keyframes messageSlideIn {
    from {
        transform: translateX(-20px) scale(0.95);
        opacity: 0;
    }
    
    to {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}



@media(max-width:900px){
    .main_container{
      width: 95vw;
      height: calc(100vh - 105px);
    }

    .errorMsg,.successMsg{
        top: 125px;
        right: 20px;
    }
}

@media(max-width:600px){
    .main_container{
         height: calc(100vh - 100px);
     }

     .errorMsg,.successMsg{
        top: 110px;
        right: 10px;
        font-size: 11px;
    }
} 

@media(max-width:500px){
    .main_container{
        height: calc(100vh - 90px);
    }

    .errorMsg,.successMsg{
        top: 100px;
        right: 5px;
    }
}